language: java
sudo: required
jdk:
 - oraclejdk8
install: true

services:
 - docker

install:
 - docker pull bigchaindb/bigchaindb
 - docker run --interactive --rm --tty --volume $HOME/bigchaindb_docker:/data --env BIGCHAINDB_DATABASE_HOST=172.17.0.1 bigchaindb/bigchaindb -y configure localmongodb
 - docker run --detach --name=mongodb --publish=27017:27017 --restart=always --volume=$HOME/mongodb_docker/db:/data/db --volume=$HOME/mongodb_docker/configdb:/data/configdb mongo:3.4.9 --replSet=bigchain-rs
 - docker run --detach --name=bigchaindb --publish=9984:9984 --restart=always --volume=$HOME/bigchaindb_docker:/data bigchaindb/bigchaindb start

cache:
  directories:
  - $HOME/.m2

branches:
 only:
 - master

script:
  - mvn clean install
  - ./gradlew clean install
